{% extends 'base.html'%}
{% load static %}
{% block 'main' %}

<div class="container my-5 ">
    <div class="card peach-card shadow-lg p-4 mt-3">
        <div class="text-center mb-4">
            <h2 class="fw-bold">File Viewer</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <input list="fileOptions" id="fileSelect" class="form-select mb-3 searchable-select" placeholder="Type or select a file">
                <datalist id="fileOptions">
                    <option value="">Select a file</option>
                    {% for file in files %}
                    <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </datalist>

                <button id="viewBtn" class="btn btn-light" disabled>View</button>
            </div>
        </div>
    </div>

    <div id="modal" style="display: none;">
        <p>File not found locally</p>
        <button id="downloadBtn">Download from Drive</button>
    </div>
</div>

<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock 'main' %}